.header__logo {
   margin-bottom: 41px;
   max-width: 142px;
}

@media screen and (max-width: 720px) {
   .header__logo {
      margin-bottom: 31px;
      margin-left: 27px;
      max-width: 104px;
   }
}