.profile__edit-button {
   align-self: center;
   background-image: url(../../../images/edit-button.svg);
   background-color: #000;
   background-repeat: no-repeat;
   background-position: center;
   border: 1px solid #fff;
   height: 24px;
   width: 24px;
   margin: 0;
   transition: opacity .5s;
   padding: 0;
}

.profile__edit-button:hover {
   opacity: .6;
   cursor: pointer;
}

@media screen and (max-width: 720px) {
   .profile__edit-button {
      height: 18px;
      min-width: 18px;
   }
}